body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0b2680e1 0%, #1749eb 30%);
  font-family: 'Roboto', sans-serif;
}

.app-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.btn-location, .weather-card  {
  background: linear-gradient(135deg, #f0f0f0 20%, #dadadae5 80%) !important;
  color: #181818 !important;
}

.btn-location:hover {
  background: linear-gradient(135deg, #dadadaea 20%, #f0f0f0 80%) !important;
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 12px !important;
  animation: pulseShadow 2s infinite !important;
  transition: box-shadow 0.3s ease-in-out !important;
}

.weather-card-city {
  font-size: 28px !important;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px !important;
}

.weather-card-description {
  font-size: 18px !important;
  font-weight: bold;
  text-align: center;
}

.app-title {
  color: #fff;
  margin-bottom: 30px !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-icon {
  margin-right: 10px;
  color: #FFD700;
  animation: weather-icon-animation 3s infinite ease-in-out;
}

.weather-icon {
  display: flex;
  justify-content: center;
}

@keyframes weather-icon-animation {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-5px) rotate(5deg);
  }
  50% {
    transform: translateY(0) rotate(0);
  }
  75% {
    transform: translateY(5px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

